{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="같이 공부하자">
    <meta property="og:type" content="website">
    <meta property="og:title" content="22-01학기 시험기간 스터디">
    <meta property="og:description" content="학습 장소를 공유하여 함께 공부해!">
    <meta property="og:image" content="http://studylion.pythonanywhere.com/static/images/background.jpeg"/>
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="360" />
    <meta property="og:url" content="http://studylion.pythonanywhere.com/">
    <title>🦁같이 공부하자</title>
    <link rel="shortcut icon" href="{% static 'images/lion.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div id="wrap">
        <header>
            <div class="head-box">
                <h2 class="head-title">멋쟁이 사자처럼</h2>
                <h2 class="head-title">22-1 새벽 열람실 스터디</h2>
            </div>
        </header>
        <main class="main">
            <span class="emoti">🦁</span>
    
                <h2 class="main-title">🦁LION LIBRARY🦁</h2>
                <h2 class="main-title">모야모여 ~</h2>
                <div class="main-point">
                    <a href="{% url 'new' %}">
                        <button>
                            학습 등록<span class="material-icons-outlined">
                                add
                                </span>
                        </button>
                    </a>
                </div>
                
                <div class="list-box">
                    <div class="compo-box">
                        <div class="sub-box">
                            <span class="sub-deco"></span>
                            <p class="sub-text">
                                지금 어디서 공부 중이신가요?
                            </p>
                        </div>
                    </div>

                    <div class="sub-box data">
                        <span class="sub-deco"></span>
                        <a class="sub-box-link" href="{% url 'new' %}">
                            <p class="sub-text data dueday">
                                <label for="date">하나스퀘어</label>
                                
                            </p>
                        </a> 
                    </div>
                    <div class="with-box">
                        <span class="with-point des">🏃🏃‍♂️ 같이 공부할래요!</span>
                    </div>
                    
                    <div class="lib-box">
                        {% if not categorys.hana %}
                        <a href="{% url 'new' %}">
                            <p class="empty-box">학습을 등록해보세요!</p> 
                        </a> 
                        {% else %}
                            {% for hana in categorys.hana %}
                                <div class="name-box" data-target="{{hana.pk}}">
                                    {% if hana.active != "0"  %} 
                                        <span class="with-point">🏃🏃‍♂️</span>
                                    {% endif %}
                                    {{hana.title}}
                                </div>
                            {% endfor %}
                        
                        {% endif %}
                    
                    </div>

                    <div class="sub-box data">
                        <span class="sub-deco"></span>
                        <a class="sub-box-link" href="{% url 'new' %}">
                            <p class="sub-text data dueday">
                                <label for="date">과학도서관</label>
                                

                            </p>
                        </a>
                    </div>

                    <div class="with-box">
                        <span class="with-point des">🏃🏃‍♂️ 같이 공부할래요!</span>
                    </div>
                    
                    <div class="lib-box">
                        {% if not categorys.science %}
                        <a href="{% url 'new' %}">
                            <p class="empty-box">학습을 등록해보세요!</p> 
                        </a> 
                        {% else %}
                            {% for science in categorys.science %}
                                <div class="name-box" data-target="{{science.pk}}">
                                    {% if science.active != "0"  %} 
                                        <span class="with-point">🏃🏃‍♂️</span>
                                    {% endif %}
                                    {{science.title}}
                                </div>
                            {% endfor %}
                        
                        {% endif %}
                    </div>


                    <div class="sub-box data">
                        <span class="sub-deco"></span>
                        <a class="sub-box-link" href="{% url 'new' %}">
                            <p class="sub-text data dueday">
                                <label for="date">중앙 광장</label>
                            </p>
                        </a>
                    </div>

                    <div class="with-box">
                        <span class="with-point des">🏃🏃‍♂️ 같이 공부할래요!</span>
                    </div>

                    <div class="lib-box">
                        {% if not categorys.square %}
                        <a href="{% url 'new' %}">
                            <p class="empty-box">학습을 등록해보세요!</p> 
                        </a> 
                        {% else %}
                            {% for square in categorys.square %}
                                <div class="name-box" data-target="{{square.pk}}">
                                    {% if square.active != "0"  %} 
                                        <span class="with-point">🏃🏃‍♂️</span>
                                    {% endif %}
                                    {{square.title}}
                                </div>
                            {% endfor %}
                        
                        {% endif %}
                    </div>

                    <div class="sub-box data">
                        <span class="sub-deco"></span>
                        <a class="sub-box-link" href="{% url 'new' %}">
                            <p class="sub-text data dueday">
                                <label for="date">중앙 도서관</label>
                            </p>
                        </a>
                    </div>

                    <div class="with-box">
                        <span class="with-point des">🏃🏃‍♂️ 같이 공부할래요!</span>
                    </div>

                    <div class="lib-box">
                        {% if not categorys.center %}
                        <a href="{% url 'new' %}">
                            <p class="empty-box">학습을 등록해보세요!</p> 
                        </a> 
                        {% else %}
                            {% for center in categorys.center %}
                                <div class="name-box" data-target="{{center.pk}}">
                                    {% if center.active != "0"  %} 
                                        <span class="with-point">🏃🏃‍♂️</span>
                                    {% endif %}
                                    {{center.title}}
                                </div>
                            {% endfor %}
                        
                        {% endif %}
                    </div>


                    <div class="sub-box data">
                        <span class="sub-deco"></span>
                        <a class="sub-box-link" href="{% url 'new' %}">
                            <p class="sub-text data dueday">
                                <label for="date">백주년 기념관</label>
                            </p>
                        </a>
                    </div>

                    <div class="with-box">
                        <span class="with-point des">🏃🏃‍♂️ 같이 공부할래요!</span>
                    </div>

                    <div class="lib-box">
                        {% if not categorys.one %}
                        <a href="{% url 'new' %}">
                            <p class="empty-box">학습을 등록해보세요!</p> 
                        </a> 
                        {% else %}
                            {% for one in categorys.one %}
                                <div class="name-box" data-target="{{one.pk}}">
                                    {% if one.active != "0"  %} 
                                        <span class="with-point">🏃🏃‍♂️</span>
                                    {% endif %}
                                    {{one.title}}
                                </div>
                            {% endfor %}
                        
                        {% endif %}
                    </div>

                    <div class="sub-box data">
                        <span class="sub-deco"></span>
                        <a class="sub-box-link" href="{% url 'new' %}">
                            <p class="sub-text data dueday">
                                <label for="date">집</label>
                            </p>
                        </a>
                    </div>

                    <div class="with-box">
                        <span class="with-point des">🏃🏃‍♂️ 같이 공부할래요!</span>
                    </div>


                    <div class="lib-box">
                        {% if not categorys.home %}
                        <a href="{% url 'new' %}">
                            <p class="empty-box">학습을 등록해보세요!</p> 
                        </a> 
                        {% else %}
                            {% for home in categorys.home %}
                                <div class="name-box" data-target="{{home.pk}}">
                                    {% if home.active != "0"  %} 
                                        <span class="with-point">🏃🏃‍♂️</span>
                                    {% endif %}
                                    {{home.title}}
                                </div>
                            {% endfor %}
                        
                        {% endif %}
                    </div>

                    <div class="sub-box data">
                        <span class="sub-deco"></span>
                        <a class="sub-box-link" href="{% url 'new' %}">
                            <p class="sub-text data dueday">
                                <label for="date">카페</label>
                            </p>
                        </a>
                    </div>

                    <div class="with-box">
                        <span class="with-point des">🏃🏃‍♂️ 같이 공부할래요!</span>
                    </div>

                    <div class="lib-box">
                        {% if not categorys.cafe %}
                        <a href="{% url 'new' %}">
                            <p class="empty-box">학습을 등록해보세요!</p> 
                        </a> 
                        {% else %}
                            {% for cafe in categorys.cafe %}
                                <div class="name-box" data-target="{{cafe.pk}}">
                                    {% if cafe.active != "0"  %} 
                                        <span class="with-point">🏃🏃‍♂️</span>
                                    {% endif %}
                                    {{cafe.title}}
                                </div>
                            {% endfor %}
                        
                        {% endif %}
                    </div>


                    <div class="sub-box data">
                        <span class="sub-deco"></span>
                        <a class="sub-box-link" href="{% url 'new' %}">
                            <p class="sub-text data dueday">
                                <label for="date">기타</label>
                            </p>
                        </a>
                    </div>

                    <div class="with-box">
                        <span class="with-point des">🏃🏃‍♂️ 같이 공부할래요!</span>
                    </div>

                    <div class="lib-box">
                        {% if not categorys.etc %}
                        <a href="{% url 'new' %}">
                            <p class="empty-box">학습을 등록해보세요!</p> 
                        </a> 
                        {% else %}
                            {% for etc in categorys.etc %}
                                <div class="name-box" data-target="{{etc.pk}}">
                                    {% if etc.active != "0"  %} 
                                        <span class="with-point">🏃🏃‍♂️</span>
                                    {% endif %}
                                    {{etc.title}}
                                </div>
                            {% endfor %}
                        
                        {% endif %}
                    </div>

                
                </div>
    
            </main>
            <footer></footer>

            <div class="popup-point">
                <section class="popup-section">
                    <div class="popup-box">
                        <div class="popup">
                            <div class="popup-layer">
                                    <div class="popup-area">
                                        <span class="save-pk"></span>
                                        <div class="mobile-popup-close">
                                            <div class="mobile-float-close"></div>
                                        </div>
                                        <div class="popup-close-box">
                                            <span class="material-icons-outlined popup-close">close</span>
                                        </div>
                            
                            
                                    
                                        <div class="sub-box">
                                            <span class="sub-deco"></span>
                                            <p class="popup-text">
                                                이름
                                            </p>
                                        </div>

                                    
                                        <p class="sub-response popup-content">컨텐츠</p>

                                        <div class="sub-box">
                                            <span class="sub-deco"></span>
                                            <p class="sub-text data dueday">
                                                남은시간
                                            </p>
                                        </div>

                                    
                                        <p class="sub-response left-time"><span class="left-hour"></span>시간<span class="left-min"></span>분<span class="left-sec"></span>초</p>

                                    </div>
                                    <div class="popup-btn">
                                        {% comment %} <a href="{% url 'edit' post.pk %}">
                                            <button class="move-btn" type="button" name="button">계획 수정</button>    
                                        </a> {% endcomment %}
                                        
                                        <span class="btn-bar"></span>
                                        <button class="move-btn cancel">학습 종료</button>
                                    </div>
                            </div>
                            <div class="popup-dimmed"></div>
                        </div>
                    </div>
                </section>
            </div>
    </div>

<script>
function openPopup(){
    $('.popup').fadeIn();
};

function cancel() {
    $('.popup').fadeOut();
    if(timerId != null) {
        clearInterval(timerId);
        timerId = null;
    }
};

var timerId = null;


{% comment %} function timeCal(hour, min, sec){
    console.log(hour);
            console.log(min);
            console.log(sec);
} {% endcomment %}


function calc(str){
    let hour = parseInt(str.substr(0, 2));
    let min = parseInt(str.substr(2, 2));
    let sec = parseInt(str.substr(4, 2));

    $(document).find('.left-hour').html(`${hour}`);
    $(document).find('.left-min').html(`${min}`);
    $(document).find('.left-sec').html(`${sec}`);

    timerId = setInterval(() =>{
        sec -= 1;
      

        if(parseInt(min)<=0){
            if(parseInt(hour) != 0){
                hour -= 1;
                min = 59;
            };
            sec = 59;
        };

        if(parseInt(sec)<=0){
            if(parseInt(min) != 0){
                min -= 1;
            };
            sec = 59;
        };

        $(document).find('.left-hour').html(`${hour}`);
        $(document).find('.left-min').html(`${min}`);
        $(document).find('.left-sec').html(`${sec}`);
        if(parseInt(min)==0 && parseInt(sec)==0 && parseInt(hour)==0){
            location.reload();
        };
    }, 1000);
}




$(document).on('click', '.name-box', openPopup);
$(document).on('click', '.name-box', function(event){
    let tarData = $(this).data('target');
    $(document).find('.save-pk').html(`${tarData}`);

    $(document).find('.btn-bar').html(`<a href="/change/${tarData}">
        <button class="move-btn" type="button" name="button">학습 수정</button>    
    </a>`);

    $.ajax({
        url : '{% url 'give' %}',
        method : "POST",
        data: {
            'tarData': tarData
        },
        headers: {
            'X-CSRFTOKEN' : '{{ csrf_token }}'
         },
        success:function(data, posts){
            
            $(document).find('.popup-text').html(`${data.name}`);
            $(document).find('.popup-content').html(`${data.content}`);
            calc(data.time);
            
           
        },
        error: function(){
            alert('로딩에 실패했습니다.')
        }
        
    })
   
});
$(document).on('click', '.popup-close', cancel);


$(document).on('click', '.move-btn.cancel', function() {
    let tarData = $('.save-pk').text();
    console.log(tarData);
    if (!confirm("학습을 종료하겠습니까?")) {
        // 취소(아니오) 버튼 클릭 시 이벤트
    } else {
        $.ajax({
            url : '{% url 'delete' %}',
            method : "POST",
            data: {
                'tarData': tarData
            },
            headers: {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
             },
            success:function(data){
                alert('학습이 종료되었습니다.')
                location.reload();
               
            },
            error: function(){
                alert('로딩에 실패했습니다.')
            }
            
        });
    }
    cancel();
});






</script>
</body>
</html>