{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    
    <div id="wrap">
        <header class="head">
            <div class="head-box">
                <img class="banner-img" src="{% static 'images/notion-banner.png' %}" alt="노션">
            </div>
        </header>
        <main class="main">
            <span class="emoti">👨🏽‍💻</span>
            
                <h2 class="main-title">민기의 일정</h2>
            <div class="main-point">
                <a href="{% url 'new' %}">
                    <button>
                        새 일정<span class="material-icons-outlined">
                            add
                            </span>
                    </button>
                </a>
            </div>
            
            <div class="list-box">
                <div class="compo-box">
                    <div class="sub-box">
                        <span class=sub-deco></span>
                        <p class="sub-text">
                            현재 시간
                        </p>
                    </div>
                   
                    <p class="sub-response today">{{ today }}</p>
                </div>
                <ul>
                    
                    {% for post in posts %}
                    <li>
                        <a href="{% url 'detail' post.pk %}">
                            <div class="sub-box data">
                                <span class=sub-deco></span>
                                <p class="sub-text data dueday">
                                    {{ post.date }}
                                </p>
                                <p class="duedate">D-day : <span class='dday-count'></span>
                                </p>
                            </div>
                            <p class="sub-response title">{{ post.title}}</p>

                            <p class="sub-response content">{{post.content}}</p>
                            
                        </a>
        
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
        </main>
        <footer>

        </footer>
    </div>
<script>
    let today = document.querySelector('.today');
    let dueday = document.querySelectorAll('.dueday')

    toTime = today.innerHTML;
    toTime = toTime.replaceAll('-', '');
   
    dueday.forEach(function(day) {
        let time = day.innerHTML;
        // console.log(time);
        // console.log(toTime);
        time = time.replaceAll('-', '');

        dday = parseInt(time) - parseInt(toTime);
    

        day.nextElementSibling.innerHTML = `D-day : <span class='dday-count'>-${dday}</span>`;
        
    });

   

</script>
</body>
</html>